/* html {
  overflow-y: auto !important;
} */
/* .navbar-item img {
  max-height: 2.85rem !important;
} */

.open-animation-top {
  animation-name: topOpen;
  animation-duration: 1s;
}

@keyframes topOpen {
  from {
    transform: translate(0px, -150px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes leftOpen {
  from {
    transform: translate(0px, -150px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.fundo-banner {
  background-image: url('./imagens/fundoBanner2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
}

.fundo-perguntas {
  background-color: #e08688;
  background-image:
    url('@/assets/imagens/elefanteVoador.png'), url('@/assets/imagens/elefanteSentado.png');
  background-blend-mode: luminosity;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position:
    right top,
    left center;
}

.fundo-footer {
  background-color: #e08688;
  background-image:
    url('@/assets/imagens/desenhoMOtoLove.png'), url('@/assets/imagens/familiaFelizAmor.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: darken, luminosity;
  background-position:
    left center,
    right center;
}

.fundo-produtos {
  /* background: linear-gradient(180deg, #da90a7 0%, #e08688 100%); */
  background-image:
    url('@/assets/imagens/variosCoracoes.png'), linear-gradient(180deg, #da90a7 0%, #e08688 100%);
  /* background-repeat: no-repeat; */
  /* background-position: right; */
  background-size: contain;
  background-blend-mode: luminosity;
}

.fundo-contato {
  background-color: #dc3545;
}

.is-color-red {
  color: #c71f37 !important;
}

.is-back-red {
  background-color: #c71f37 !important;
}

.is-hr {
  opacity: 1;
}

.is-bg-dark {
  background-color: rgb(55 55 61) !important;
  color: white;
}

.is-border-red {
  border: 1px solid #c71f387c;
}

.shadow-medium {
  box-shadow: 0px 0px 25px 0px hsl(0deg 0% 8.81%);
}

.h-100v {
  /* min-height: calc(100vh - 3.35rem); */
  min-height: 120vh;
}

.navbar {
  height: 3.35rem;
}

.blur {
  backdrop-filter: blur(15px);
}

.bg-barra {
  background-color: rgb(248 249 250 / 50%);
}
/* .navbar-nav .nav-link.active {
  color: rgb(80, 80, 80) !important;
}

.navbar-nav .nav-link {
  color: #dc3545 !important;
} */

.btn-dark-primary {
  background-color: #37373d !important;
  color: white !important;
}

.btn-dark-primary:hover {
  background-color: #c71f37 !important;
  color: white !important;
}

.card-perfumes-body {
  height: 45%;
  padding: 0px !important;
  margin-top: 100px !important;
}

.card-perfumes-header {
  border-radius: 35% 35% 35% 35% / 35% 35% 35% 35% !important;
  position: absolute;
  z-index: 0;
  top: -290px;
  left: 53px;
  align-self: anchor-center !important;

  /* padding: 0px !important; */
}

.img-card-perfume {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-perfumes {
  display: inline-flex;
  height: 100%;
  margin-top: auto;
  min-height: 350px;
  background-color: rgb(248 249 250 / 60%) !important;
  border: 0px !important;
  border-radius: 0px !important;
  padding: 15px !important;
}

.border-misao {
  background-color: #dc354594 !important;
  padding: 80px;
}

.card-sobreImage {
  background-image: url('@/assets/imagens/PORTADA20FRAGANCIAS.png');
  background-size: cover;
}

.grid-perfumes {
  display: grid;
  width: 20% !important;
  min-height: 380px;
}

.btn-perfumes {
  display: none !important;
  font-size: 12px !important;
}

.card-perfumes:hover .btn-perfumes {
  display: block !important;
}

.bordered {
  border-right: 1px solid #f1f1f1;
  border-image: linear-gradient(to bottom, #da90a7 0%, white 25%, white 75%, #da90a7 100%) 1 stretch;
}

.border-efect-left {
  width: 130px;
  border: 2px solid rgb(255, 0, 0);
  margin-left: 50%;
  margin-right: auto;
}

.border-efect-rigth {
  width: 130px;
  border: 2px solid rgb(255, 0, 0);
  margin-left: auto;
  margin-right: 50%;
}

.img-sobre-nos {
  min-height: 450px;
  max-height: 450px;
}

.card-sobre-nos {
  background-color: rgb(248 249 250 / 50%) !important;
}

.border-efect-left-start {
  width: 130px;
  border: 2px solid rgb(255, 0, 0);
  margin-left: 5%;
}

.border-efect-rigth-start {
  width: 130px;
  border: 2px solid rgb(255, 0, 0);
}

.start-text-resposta {
  margin-left: 8%;
}

.dropdown-menu {
  width: -webkit-fill-available !important;
}

.border-efect-large {
  width: auto;
  border: 2px solid rgb(255, 0, 0);
  margin-left: 15%;
  margin-right: 15%;
}

.border-efect-normal {
  width: auto;
  border: 2px solid rgb(255, 0, 0);
  margin-left: 20%;
  margin-right: 20%;
}

.border-efect-medium {
  width: auto;
  border: 2px solid rgb(255, 0, 0);
  margin-left: 30%;
  margin-right: 30%;
}

.card-footer {
  background: rgb(248 249 250 / 80%) !important;
  border-radius: 0rem !important;
}

.xl-small {
  font-size: 0.6rem;
}

.border-end-dark {
  border-right: 1px solid #000000;
}

page-link.active,
.active > .page-link {
  border: 1px solid white !important;
  background-color: #db3b6b !important;
}

page-link,
.page-link {
  border: 1px solid white !important;
  background-color: #db7d99 !important;
  color: white !important;
}
