@import './base.css';

html {
  overflow-y: auto !important;
}
.navbar-item img {
  max-height: 2.85rem !important;
}

.is-color-red {
  color: #c71f37 !important;
}

.is-back-red {
  background-color: #c71f37 !important;
}

.is-hr-red {
  background-color: #c71f37 !important;
  border-radius: 0.35rem;
  height: 8px;
}

.is-bg-dark {
  background-color: rgb(55 55 61) !important;
  color: white;
}

.is-border-red {
  border: 1px solid #c71f387c;
}
/*
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
