/* html {
  overflow-y: auto !important;
} */
/* .navbar-item img {
  max-height: 2.85rem !important;
} */

body {
  background-color: rgb(55 55 61) !important;
}

.open-animation-top {
  animation-name: topOpen;
  animation-duration: 1s;
}

@keyframes topOpen {
  from {
    transform: translate(0px, -150px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes leftOpen {
  from {
    transform: translate(0px, -150px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.fundo-banner {
  background: linear-gradient(0deg, #dc3545 -20%, rgb(55 55 61) 40%);
}

.fundo-produtos {
  background: linear-gradient(180deg, #a53542 0%, #dc3545 100%);
}

.is-color-red {
  color: #c71f37 !important;
}

.is-back-red {
  background-color: #c71f37 !important;
}

.is-hr {
  opacity: 1;
}

.is-bg-dark {
  background-color: rgb(55 55 61) !important;
  color: white;
}

.is-border-red {
  border: 1px solid #c71f387c;
}

.shadow-medium {
  box-shadow: 0px 0px 25px 0px hsl(0deg 0% 8.81%);
}

.h-100v {
  min-height: calc(100vh - 3.35rem);
  /* min-height: 100vh; */
}

.navbar {
  height: 3.35rem;
}

.blur {
  backdrop-filter: blur(15px);
}

.navbar-nav .nav-link.active {
  color: grey !important;
}

.navbar-nav .nav-link {
  color: white !important;
}

.btn-dark-primary {
  background-color: #37373d !important;
  color: white !important;
}

.btn-dark-primary:hover {
  background-color: #c71f37 !important;
  color: white !important;
}
